{{ attach_library('orange/global-contact-css')}}
{{ attach_library('orange/global-contact-js')}}

<div class="space-areane"></div>

<div class="contentS">
    <div class="contact-areane">
        <span>Accueil</span>
        <span><img src="/sites/default/files/images/contact/keyboard-arrow-up.svg" alt=""></span>
        <span class="active">Nous contacter</span>
    </div>
</div>

<div class="space-areane"></div>

    <div class="bg-head-contact">
        <img src="/sites/default/files/images/contact/bg-header-contact.png" alt="">
    </div>
    
    <div class="contentS">
        <div class="card contact-title">
            <div class="small-titleC">
                Nous
            </div>
            <div class="wh-title">
                Contacter
            </div>
        </div>
    </div>
<div class="contentS contS">
    <div class="card border-0">
        <div class="tchat">
            <div class="degrader"></div>
            <div class="chat-img-ibou"><img src="/sites/default/files/images/contact/ibou.svg" class="img-ibou-desk"></div>
            <div class="chat-content mCustomScrollbar" id="chat-content">
                <div class="tchat-initial">
                    <div class="content">
                        <div class="message-ibou">
                            <div class="chat-rectangle"></div>
                            <img src="/sites/default/files/images/contact/sm-ibou.svg" class="img-ibou-chat">
                            <div class="message-tt">
                                Dalal ak Diam
                            </div>
                            <div class="message-body">
                                Je suis Ibou, votre conseiller digital
                            </div>
                        </div>
                        <div class="message-ibou fst">
                            <div class="message-body">
                                Pourquoi avez-vous besoin de nous contacter ?
                            </div>
                        </div>
                        <div class="list-answer">
                            <div class="answer">
                                <div>Je suis mécontent. J’ai une réclamation</div>
                                <img src="/sites/default/files/images/contact/keyboard-arrow-up.svg" class="key-arrow">
                            </div>
                            <div class="answer">
                                <div>Mon internet ne fonctionne plus</div>
                                <img src="/sites/default/files/images/contact/keyboard-arrow-up.svg" class="key-arrow">
                            </div>
                            <div class="answer">
                                <div>Ma carte Sim est bloquée</div>
                                <img src="/sites/default/files/images/contact/keyboard-arrow-up.svg" class="key-arrow">
                            </div>
                            <div class="answer">
                                <div>J’ai une autre demande</div>
                                <img src="/sites/default/files/images/contact/keyboard-arrow-up.svg" class="key-arrow">
                            </div>
                        </div>
                        
                        <div class="load-answer">
                            <div class="div-loading">
                                <div class="loading">
                                    <div><img src="/sites/default/files/images/contact/Writing_Gif_1.gif" alt=""></div>
                                </div>
                            </div>
                            <div class="messages">
                                <div class="message-ibou">
                                    <div class="chat-rectangle"></div>
                                    <div class="message-body">
                                        Je suis désolé. Je suis là pour vous aider.
                                    </div>
                                </div>
                                <div class="message-ibou fst">
                                    <div class="message-body">
                                        De quel manière je peux vous venir en aide ?
                                    </div>
                                </div>
                                <div class="scn-list-answer">
                                    <div class="scn-answer">
                                        <div>Un problème de tarification ?</div>
                                        <img src="/sites/default/files/images/contact/keyboard-arrow-up.svg" class="key-arrow">
                                    </div>
                                    <div class="scn-answer">
                                        <div>Une offre non désirée a été installée sur mon numéro</div>
                                        <img src="/sites/default/files/images/contact/keyboard-arrow-up.svg" class="key-arrow">
                                    </div>
                                </div>

                                <div class="scn-messages">
                                    <div class="div-loading">
                                        <div class="loading">
                                            <div><img src="/sites/default/files/images/contact/Writing_Gif_1.gif" alt=""></div>
                                        </div>
                                    </div>

                                    <div class="thd-lst">
                                        <div class="message-ibou">
                                            <div class="chat-rectangle"></div>
                                            <div class="message-body">
                                                Pour trouver une solution à votre problème vous pouvez ?
                                            </div>
                                        </div>

                                        <div class="thrd-list-answer">
                                            <a href="" class="thrd-answer active">
                                                <img src="/sites/default/files/images/contact/group-142.svg" alt="">
                                                <span>Tchat Ibou</span>
                                            </a>
                                            <a href="" class="thrd-answer">
                                                <img src="/sites/default/files/images/contact/group-23.svg" alt="">
                                                <span>Forum d’entraide</span>
                                            </a>
                                            <a href="" class="thrd-answer">
                                                <img src="/sites/default/files/images/contact/group-27.svg" alt="">
                                                <span>Assistance en ligne</span>
                                            </a>
                                            <a href="" class="thrd-answer">
                                                <img src="/sites/default/files/images/contact/group-32.svg" alt="">
                                                <span>Appeler le 1441</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contentS">

    <div class="space50"></div>

    <div class="contact-via">
        <div class="contact-via-facebook">
            <span><img src="/sites/default/files/images/contact/group-259.svg"> Nous contacter via Facebook</span>
            <button class="btn btn-inverse btn-dark hide-contact">Voir détails</button>
        </div>
        <div class="contact-via-mail">
            <span><img src="/sites/default/files/images/contact/group-330.svg"> Nous contacter par mail</span>
            <button class="btn btn-inverse btn-dark hide-contact">Voir détails</button>
        </div>
    </div>

    <div class="space50"></div>
</div>

<div class="footer-dark">
    <div>Ou vous rendre dans un de nos points de vente</div>
    <button type="button" class="btn btn-inverse btn-primary">Trouver une agence</button>
</div>

<div class="footer-body" style="background-color:#fdcc00; margin-bottom: -40px; padding-bottom: 30px;">
    <div class="contentS d-none d-md-block d-sm-block">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="h2" style="font-size: 24px;">Pourquoi choisir Orange ?</h2>
            </div>
            <div class="sous-bloc-footer col-sm-4">
                <div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="image-block-jaune-1" src="/sites/default/files/images/black.svg" alt="Generic placeholder image">
                        </div>
                        <div class="col-sm-10">
                            <h5 class="mt-0 mb-1">Un réseau 4G hors-normes</h5>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-sm-10">
                            <p style=" text-align: justify;">
                                Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
                            </p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-sm-10">
                            <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sous-bloc-footer col-sm-4">
                <div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
                        </div>
                        <div class="col-sm-10">
                            <h5 class="mt-0 mb-1">Assistance en ligne 24h/24</h5>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-sm-10">
                            <p style=" text-align: justify;">
                                Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.               </p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-sm-10">
                            <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sous-bloc-footer col-sm-4">
                <div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
                        </div>
                        <div class="col-sm-10">
                            <h5 class="mt-0 mb-1">Des apps à portée de main</h5>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-sm-10">
                            <p style=" text-align: justify;">
                                Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
                            </p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-sm-10">
                            <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-block d-md-none d-sm-none">

        <div class="col-sm-12">
            <p class="pt-1"></p>
            <h2 class="h2" style="font-size: 22px;">Pourquoi choisir Orange ?</h2>
        </div>
        <div class="hide-reverse">
            <div class="row" style="overflow: hidden">
                <div class="col-12">
                    <div class="swiper-container-footer">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" id="slide1">
                                <div>
                                    <div class="row">
                                        <div class="text-left col-sm-2">
                                            <img class="text-left" src="/sites/default/files/images/flybox.png" alt="Generic placeholder image">
                                        </div>
                                        <div class="col-sm-8 py-2">
                                            <h4 class="mt-0 mb-1 text-left">Un reseau 4G<br>hors norme</h4>
                                        </div>
                                        <div class="col-lg-2"></div>
                                        <div class="col-sm-8">
                                            <p class="text-block-jaune" style=" text-align: justify;">
                                                Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
                                            </p>
                                        </div>
                                        <div class="col-lg-2"></div>
                                        <div class="col-sm-10 text-left">
                                            <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" id="slide2">
                                <div>
                                    <div class="row">
                                        <div class="text-left col-sm-2">
                                            <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
                                        </div>
                                        <div class="col-sm-8 py-2">
                                            <h4 class="mt-0 mb-1 text-left">Assistance en <br> ligne 24h/24</h4>
                                        </div>
                                        <div class="col-lg-2"></div>
                                        <div class="col-sm-8">
                                            <p class="text-block-jaune" style=" text-align: justify;">
                                                Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.
                                            </p>
                                        </div>
                                        <div class="col-lg-2"></div>
                                        <div class="col-sm-10 text-left">
                                            <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" id="slide3">
                                <div>
                                    <div class="row">
                                        <div class="text-left col-sm-2">
                                            <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
                                        </div>
                                        <div class="col-sm-8 py-2">
                                            <h4 class="mt-0 mb-1 text-left">Des apps à <br> portée de main</h4>
                                        </div>
                                        <div class="col-lg-2"></div>
                                        <div class="col-sm-8">
                                            <p class="text-block-jaune" style=" text-align: justify;">
                                                Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
                                            </p>
                                            </p>
                                        </div>
                                        <div class="col-lg-2"></div>
                                        <div class="col-sm-10 text-left">
                                            <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
