{{ attach_library('orange/global-findan-css')}}
{{ attach_library('orange/global-findan-js')}}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/sites/default/files/images/findan/home-dig.jpg" class="d-block w-100">
      <div class="carousel-caption slide">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <!--h1 class="title-slide">
                Jamais <br> seul
              </h1-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="ibou">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 r">
        <p class="text-center">
          <img src="/sites/default/files/images/findan/ibou.png" class="ibou ">
        </p>
      </div>
      <div class="col-md-8">
        <p class="text-left la">
          Une question?<br>
          Un blocage?<br>
          Un besoin d'explication?<br>
          Un conseil?<br>
          <span class="orange">
          Ibou est là pour vous 24h/7j
          <img src="/sites/default/files/images/findan/fleche.png" class="img-fluid desktop">
          <img src="/sites/default/files/images/findan/fleche-center.png" class="img-fluid mobile" style="display: none;max-width: 277px;margin: 9px auto;">
          </span>
        </p>
      </div>
    </div>

  </div>
</section>

<section id="social" style="background: #f5f5f5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 align-content-md-center">
        <h2 class="join-ibou">Où contacter ibou ?</h2>
      </div>
      <div class="col-md-12 mdpad desktop">
        <div class="row">
          <div class="col ">
            <p class="ico-text">
              <a href="https://web.facebook.com/orange.sn/" target="_blank">
                <img src="/sites/default/files/images/findan/fbk.png" class="img-fluid zoom"></a><br>
              Orange Senegal
            </p>
          </div>
          <div class="col">
            <p class="ico-text">
              <a href="https://twitter.com/orange_sn" target="_blank">
                <img src="/sites/default/files/images/findan/tw.png" class="img-fluid zoom"></a><br>
              Orange_sn
            </p>
          </div>
          <div class="col">
            <p class="ico-text">
              <a href="https://assistance.orange.sn/" target="_blank">
                <img src="/sites/default/files/images/findan/assist.png" class="img-fluid zoom"></a><br>
              assistance.orange.sn
            </p>
          </div>
          <div class="col">
            <p class="ico-text">
              <a href="#" class="firmware">
                <img src="/sites/default/files/images/findan/user.png" class="img-fluid zoom"></a><br>
              Application <br> Orange et moi<br>
              <a href="https://play.google.com/store/apps/details?id=com.orange.myorange.osn&hl=fr" class="pop-over" target="_blank">Android</a>
              <a href="https://itunes.apple.com/sn/app/orange-et-moi-s%C3%A9n%C3%A9gal/id1039327980?l=fr&mt=8" class="pop-over"  target="_blank"> /IOS</a>
            </p>
          </div>
          <div class="col">
            <p class="ico-text">
              <a href="https://www.instagram.com/orange_senegal/" target="_blank"><img src="/sites/default/files/images/findan/insta.png" class="img-fluid zoom"></a><br>
              Orange_senegal
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-nav mobile" style="display: none;">
    <div>
      <p class="ico-text">
        <a href="https://web.facebook.com/orange.sn/" target="_blank">
          <img src="/sites/default/files/images/findan/fbk.png" class="img-fluid"></a><br>
        Orange Senegal
      </p>
    </div>
    <div>
      <p class="ico-text">
        <a href="https://twitter.com/orange_sn" target="_blank">
          <img src="/sites/default/files/images/findan/tw.png" class="img-fluid"></a><br>
        Orange_sn
      </p>
    </div>
    <div>
      <p class="ico-text">
        <a href="https://assistance.orange.sn/" target="_blank">
          <img src="/sites/default/files/images/findan/assist.png" class="img-fluid"></a><br>
        assistance.orange.sn
      </p>
    </div>
    <div>
      <p class="ico-text">
        <a href="#" class="firmware">
          <img src="/sites/default/files/images/findan/user.png" class="img-fluid"></a><br>
        Application <br> Orange et moi<br>
        <a href="https://play.google.com/store/apps/details?id=com.orange.myorange.osn&hl=fr" class="pop-over" target="_blank">Android</a>
        <a href="https://itunes.apple.com/sn/app/orange-et-moi-s%C3%A9n%C3%A9gal/id1039327980?l=fr&mt=8" class="pop-over"  target="_blank"> /IOS</a>
      </p>
    </div>
    <div>
      <p class="ico-text">
        <a href="https://www.instagram.com/orange_senegal/" target="_blank"><img src="/sites/default/files/images/findan/insta.png" class="img-fluid"></a><br>
        Orange_senegal
      </p>
    </div>
  </div>
</section>

<section id="video">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-12 align-self-center">
        <!--video class="ivid" width="100%" height="100%" controls poster="/sites/default/files/images/findan/video-ibou.jpg">
          <source src="https://www.youtube.com/watch?v=RvrUjGfBrH8" type="video/mp4">
        </video-->
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/OB6QbFNxdqg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p class="min-tou">
          <img src="/sites/default/files/images/findan/toute-question-new.png" class="desktop">
          <img src="/sites/default/files/images/findan/toute-question-mobile.png" class="mobile" style="display: none;">
        </p>
      </div>
      <div class="col-sm-6">
        <p class="min-30">
          <img src="/sites/default/files/images/findan/30mn.png" class="desktop">
          <img src="/sites/default/files/images/findan/30mn-mobile.png" class="mobile" style="display: none;">
        </p>

      </div>
    </div>

  </div>
</section>

<section class="bgblack" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="orange">
          Ne restez plus jamais seul :
        </h1>
        <p class="text-left tsize">
          essayez le service client<br>
          en ligne d'Orange !
        </p>
      </div>
    </div>

  </div>
</section>

<section class="bgbblack" >
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12">
        <!--h1 class="orange">
          Ne restez plus jamais seul :
        </h1-->
        <p class="text-left tsct">
          Le service client est aussi disponible par téléphone: <br>
          1441: Mobile prépayé et post payé<br>
          1212: Annuaire<br>
          1413: Fixe Internet et TV<br>
          1444: Orange Money<br>
        </p>
      </div>
      <!--div class ="col-md-12 pads">
        <ul class="row" style="padding: 0;">
          <span class="text-white col-lg-4 svns"><b>Suivez-nous</b></span>
          <div class="col-lg-8">
            <a class="ft-icone-hove sbord" href="https://web.facebook.com/orange.sn/?ref=br_rs&amp;brand_redir=298166859034"  target="_blank"><i class="fab fa-facebook"></i></a>
            <a class="ft-icone-hove sbord" href="https://twitter.com/orange_sn" target="_blank" ><i class="fab fa-twitter"></i></a>
            <a class="ft-icone-hove sbord" href=""  target="_blank"><i class="fab fa-google-plus"></i></a>
            <a class="ft-icone-hove sbord" href="https://www.youtube.com/channel/UC9UpyP2WXZP_-n66HnG7iBQ"  target="_blank"><i class="fab fa-youtube"></i></a>
          </div>
        </ul>
      </div-->
    </div>
  </div>
  <!--div class="container-fluid ">
    <ul class="nav row">
      <li class="nav-item col-lg-3 col-md-3 col-sm-12 col-12 demO pt-1 li-mobile">
        <img src="//cdn.caractereconseil.com/findan2018/assets//sites/default/files/images/findan/assistance-black.svg" alt="">
        <a href="mailto:serviceclient@orange-sonatel.com" class="link text-white text-reseau-sociaux pl-2">
          Contacter Orange
        </a>
      </li>
      <li class="nav-item col-lg-3 col-md-3 col-sm-12 col-12 pt-1 li-mobile">
        <img src="//cdn.caractereconseil.com/findan2018/assets//sites/default/files/images/findan/boutiques-black.svg" alt="">
        <a  href="https://boutique.orangebusiness.sn/" target="_blank" class="text-white text-reseau-sociaux pl-2">
          Agences &amp; Boutiques
        </a>
      </li>
      <li class="d-sm-block nav-item col-lg-3 col-md-3 col-sm-12 col-12 pt-1 pl-4 li-mobile">
        <img src="//cdn.caractereconseil.com/findan2018/assets//sites/default/files/images/findan/forum-black.svg" alt="">
        <a  href="https://assistance.orange.sn/questions/browse?utf8=%E2%9C%93&amp;search=&amp;with_category%5B%5D=3071" target="_blank" class="text-white text-reseau-sociaux pl-2">
          Forum d'entraide
        </a>
      </li>
    </ul>
  </div-->
</section>
