{{ attach_library('orange/global-gold-platinium-css')}}
{{ attach_library('orange/global-gold-platinium-js')}}

<div class="header-bandeau">
  <img src="/sites/default/files/images/gold/bandeau.jpg" class="bandeau">
  <img src="/sites/default/files/images/aicha/bandeau-mobile.png" class="bandeau-mobile">
  <div class="contentS">
    <div class="card-header-aicha border-0 card">
      <div class="fil-aicha">
        <a href="/">Accueil</a>
        <img src="/sites/default/files/images/aicha/keyboard-arrow-right-gray.svg" alt="">
        <span>Orange Gold et Platinum</span>
      </div>

      <div class="page-title-aicha">
        Orange Gold
        et Platinium
      </div>
    </div>
  </div>
</div>

<div class="contentS">
  <div class="gold-tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Orange Gold</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Orange Platinium</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="gold-o">
          <div class="gold-image">
            <img src="/sites/default/files/images/gold/orange-gold.jpg" alt="">
          </div>
          <div class="gold-desc">
            <div class="title-tab">
              Comment accéder à un statut Gold ?
            </div>
            <div class="text-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="gold-o">
          <div class="gold-image">
            <img src="/sites/default/files/images/gold/orange-gold.jpg" alt="">
          </div>
          <div class="gold-desc">
            <div class="title-tab">
              Comment accéder à un statut Gold ?
            </div>
            <div class="text-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gold-swp">
    <div class="swiper-container-gold" style="overflow: hidden">
      <div class="swiper-wrapper">
        <div class="swiper-slide" id="slide1">
          <div class="swp-title">
            Orange Gold
          </div>
          <div class="swp-Im">
            <img src="/sites/default/files/images/gold/orange-gold.jpg" alt="">
          </div>
          <div class="desc-swp-gold">
            <div class="desc-gold-title">
              Comment accéder
              à un statut Gold ?
            </div>
            <div class="desc-gold-txt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </div>
          </div>
        </div>
        <div class="swiper-slide" id="slide2">
          <div class="swp-title">
            Orange Gold
          </div>
          <div class="swp-Im">
            <img src="/sites/default/files/images/gold/orange-gold.jpg" alt="">
          </div>
          <div class="desc-swp-gold">
            <div class="desc-gold-title">
              Comment accéder
              à un statut Gold ?
            </div>
            <div class="desc-gold-txt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="statut">
  <div>Pour connaitre votre statut Orange, </div>
  <div class="statut-img">tapez <img src="/sites/default/files/images/aicha/img221.svg" alt=""></div>
</div>

<div class="card card-gold border-0">
  <div class="contentS">
    <div class="adv-gold frs">
      <div class="adv">
        <img src="/sites/default/files/images/gold/group-18.svg" alt="">
      </div>
      <div class="adv">
        <div class="title-adv">
          Réductions et avantages
          chez plus de 70 partenaires
        </div>
        <div class="desc-adv">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ultricies turpis. Aliquam in magna eu felis efficitur imperdiet.
        </div>
        <a href="" class="btn btn-primary">Découvrir</a>
      </div>
    </div>
    <div class="adv-gold scn">
      <div class="adv">
        <div class="title-adv">
          Programme Orange Aicha
        </div>
        <div class="desc-adv">
          Orange met à votre disposition une assistance personnelle, Aicha, pour vous simplifier la vie et vous faire bénéficier d’avantages exclusifs.
        </div>
        <a href="" class="btn btn-primary">Découvrir</a>
      </div>
      <div class="adv">
        <img src="/sites/default/files/images/gold/group-20.svg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="contentS">
  <div class="table-comparatif">
    <div class="header-comparatif">
      <div class="table-text">
        Tableau comparatif
      </div>
      <div class="compare yel">
        Gold
      </div>
      <div class="compare gry">
        Platinium
      </div>
    </div>
    <div class="dsc-comparatif">
      <div class="cont-comparatif">
        <div class="tex">
          Lorem ipsum dolor sit amet sed diam consectetur eos adipisicing ad tramos
        </div>
        <div class="crt">
          <img src="/sites/default/files/images/gold/fill-1.svg" alt="">
        </div>
        <div class="crt">
          <img src="/sites/default/files/images/gold/fill-1-copy.svg" alt="">
        </div>
      </div>
      <div class="cont-comparatif">
        <div class="tex">
          Lorem ipsum dolor sit amet sed diam consectetur eos adipisicing ad tramos
        </div>
        <div class="crt">
          <img src="/sites/default/files/images/gold/fill-1.svg" alt="">
        </div>
        <div class="crt">
          <img src="/sites/default/files/images/gold/fill-1-copy.svg" alt="">
        </div>
      </div>
      <div class="cont-comparatif">
        <div class="tex">
          Lorem ipsum dolor sit amet sed diam consectetur eos adipisicing ad tramos
        </div>
        <div class="crt">
          <img src="/sites/default/files/images/gold/fill-1.svg" alt="">
        </div>
        <div class="crt">
          <img src="/sites/default/files/images/gold/fill-1-copy.svg" alt="">
        </div>
      </div>
      <div class="cont-comparatif">
        <div class="tex">
          Lorem ipsum dolor sit amet sed diam consectetur eos adipisicing ad tramos
        </div>
        <div class="crt">
          <img src="/sites/default/files/images/gold/fill-1.svg" alt="">
        </div>
        <div class="crt">
          <img src="/sites/default/files/images/gold/fill-1-copy.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-body" style="background-color:#fdcc00; margin-bottom: -40px; padding-bottom: 30px;">
  <div class="contentS d-none d-md-block d-sm-block">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h2" style="font-size: 24px;">Pourquoi choisir Orange ?</h2>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-1" src="/sites/default/files/images/black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Un réseau 4G hors-normes</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Assistance en ligne 24h/24</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.               </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Des apps à portée de main</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none d-sm-none">

    <div class="col-sm-12">
      <p class="pt-1"></p>
      <h2 class="h2" style="font-size: 22px;">Pourquoi choisir Orange ?</h2>
    </div>
    <div class="hide-reverse">
      <div class="row" style="overflow: hidden">
        <div class="col-12">
          <div class="swiper-container-footer">
            <div class="swiper-wrapper">
              <div class="swiper-slide" id="slide1">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="text-left" src="/sites/default/files/images/flybox.png" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Un reseau 4G<br>hors norme</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide2">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Assistance en <br> ligne 24h/24</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide3">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Des apps à <br> portée de main</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
                      </p>
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
