{{ attach_library('orange/global-illimix-css')}}
{{ attach_library('orange/global-illimix-js')}}

<div class="contentS">
  <ul class="sac-nav-ul mb-0">
    <li class="debutlii">
      <a href="/">Accueil</a><img class="px-2" src="/sites/default/files/icones/keyboard-arrow-up.svg" alt="" id="fleche">
    </li>
    <li class="debutlii">
      <a href="{{ path('offres-mobile') }}">Nos offres mobiles</a><img class="px-2" src="/sites/default/files/icones/keyboard-arrow-up.svg" alt="" id="fleche">
    </li>
    <li class="debutlii">
      <a href="#"> <b> Les pass illimix </b></a>
    </li>
  </ul>
</div>

<div class="header-illimix">
  <div class="contentS">
    <div class="desc-hearderI">
      <div class="page-block">Offres mobiles</div>
      <h1 class="page-titleI">Pass Illimix</h1>
    </div>
  </div>
  <img src="/sites/default/files/images/illimix/background-header-illimix-desktop.jpg" class="hide-illimix">
  <img src="/sites/default/files/images/illimix/background-header-illimix-mobile.jpg" class="hide-reverse-illimix">
</div>

<div class="hide-illimix"><div class="space50"></div></div>

<div class="contentS">

  <div class="hide-illimix">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><span>Illimix <B>New S’cool</B></span></a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><span>Illimix <B>Max</B></span></a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><span>Illimix <B>Allo</B></span></a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="tabs-content">
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Jour</B></div>
                  <div class="pass-price">490 F</div>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      25 min
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      125 Mo
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      De 8h à 22h
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Jour</B></div>
                  <div class="pass-price">1000 F</div>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      200 min
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      400 Mo
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Semaine</B></div>
                  <div class="pass-price">1900 F</div>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      120 min
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      500 Mo
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h/24
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Mois</B></div>
                  <div class="pass-price">17900 F*</div>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      30 h**
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      7 Go
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h/24
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="tabs-content">
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Jour</B></div>
                  <div class="pass-price">590 F</div>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      50 min
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      150 Mo
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Jour</B></div>
                  <div class="pass-price">1000 F</div>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      200 min
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      400 Mo
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Semaine</B></div>
                  <div class="pass-price">5900 F*</div>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      25h
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      2Go
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h/24
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Semaine</B></div>
                  <div class="pass-price">9900 F*</div>
                  <span class="sub-text hide-illimix-only-mobile"> *Disponible en abonnement</span>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      35 h
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      2.5 Go
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h/24
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="tabs-content">
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Jour</B></div>
                  <div class="pass-price">500 F</div>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      30 min
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      100
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      50 Mo
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h/24
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Jour</B></div>
                  <div class="pass-price">1000 F</div>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      200 min
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      400 Mo
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Semaine</B></div>
                  <div class="pass-price">4900 F*</div>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      20 h
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      1.5 Go
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h/24
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-content-card">
            <div class="border-0 card-illimix-tabs">
              <div class="d-flex">
                <div class="title-pass">
                  <div class="title-text-pass">Pass <B>Semaine</B></div>
                  <div class="pass-price">9900 F*</div>
                  <span class="sub-text hide-illimix-only-mobile"> *Disponible en abonnement</span>
                </div>
                <div class="desc-pass">
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      illimité*
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Illimités
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      2.5 Go
                    </div>
                  </div>
                  <div class="media">
                    <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                    <div class="media-body">
                      Valable 24h/24
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="desc-tabs">
                    <span class="desc-tabs-txt d-flex">
                        <div class="media mr-3">
                            <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                            <div class="media-body">
                                = appels
                            </div>
                        </div>
                        <div class="media mr-3">
                            <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                            <div class="media-body">
                                = messages
                            </div>
                        </div>
                        <div class="media mr-3">
                            <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                            <div class="media-body">
                                = internet
                            </div>
                        </div>
                        <div class="media">
                            <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                            <div class="media-body">
                                = période d'utilisation
                            </div>
                        </div>
                    </span>
      <span class="desc-tabs-left">
                    Les Pass Jour sont valable 24h , les Pass Semaine sont valables 7 jours, les Pass Mois sont valables 30 jours.
                </span>
    </div>
  </div>

  <div class="hide-reverse-illimix">
    <div class="pass-mobil" id="scool">
      <div class="pass-mobil-header">
        <div class="pass-mobil-header-title">
          Illimix <span>New S'cool</span>
        </div>
        <div class="pass-mobil-header-pager">
          <button class="btn btn-dark btn-sm prev disabled" disabled><img src="/sites/default/files/images/illimix/keyboard-arrow-left.svg"></button>
          <button class="btn btn-dark btn-sm next"><img src="/sites/default/files/images/illimix/keyboard-arrow-up.svg"></button>
        </div>
      </div>

      <div class="pass-mobil-desc">
        <div class="card border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Jour</B></div>
              <div class="pass-price">490 F</div>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  25 min
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  125 Mo
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  De 8h à 22h
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Jour</B></div>
              <div class="pass-price">1000 F</div>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  200 min
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  400 Mo
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Semaine</B></div>
              <div class="pass-price">1900 F</div>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  120 min
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  500 Mo
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h/24
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Mois</B></div>
              <div class="pass-price">17900 F*</div>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  30 h**
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  7 Go
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h/24
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pass-mobil" id="max">
      <div class="pass-mobil-header">
        <div class="pass-mobil-header-title">
          Illimix <span>Max</span>
        </div>
        <div class="pass-mobil-header-pager">
          <button class="btn btn-dark btn-sm prev"><img src="/sites/default/files/images/illimix/keyboard-arrow-left.svg"></button>
          <button class="btn btn-dark btn-sm next"><img src="/sites/default/files/images/illimix/keyboard-arrow-up.svg"></button>
        </div>
      </div>

      <div class="pass-mobil-desc">
        <div class="border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Jour</B></div>
              <div class="pass-price">590 F</div>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  50 min
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  150 Mo
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Jour</B></div>
              <div class="pass-price">1000 F</div>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  200 min
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  400 Mo
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Semaine</B></div>
              <div class="pass-price">5900 F*</div>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  25h
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  2Go
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h/24
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Semaine</B></div>
              <div class="pass-price">9900 F*</div>
              <span class="sub-text hide-illimix-only-mobile"> *Disponible en abonnement</span>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  35 h
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  2.5 Go
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h/24
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pass-mobil" id="allo">
      <div class="pass-mobil-header">
        <div class="pass-mobil-header-title">
          Illimix <span>Allo</span>
        </div>
        <div class="pass-mobil-header-pager">
          <button class="btn btn-dark btn-sm prev"><img src="/sites/default/files/images/illimix/keyboard-arrow-left.svg"></button>
          <button class="btn btn-dark btn-sm next disabled" disabled><img src="/sites/default/files/images/illimix/keyboard-arrow-up.svg"></button>
        </div>
      </div>

      <div class="pass-mobil-desc">
        <div class="border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Jour</B></div>
              <div class="pass-price">500 F</div>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  30 min
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  100
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  50 Mo
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h/24
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Jour</B></div>
              <div class="pass-price">1000 F</div>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  200 min
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  400 Mo
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Semaine</B></div>
              <div class="pass-price">4900 F*</div>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  20 h
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  1.5 Go
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h/24
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-0 card-illimix-tabs">
          <div class="d-flex">
            <div class="title-pass">
              <div class="title-text-pass">Pass <B>Semaine</B></div>
              <div class="pass-price">9900 F*</div>
              <span class="sub-text hide-illimix-only-mobile"> *Disponible en abonnement</span>
            </div>
            <div class="desc-pass">
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                <div class="media-body">
                  illimité*
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Illimités
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                <div class="media-body">
                  2.5 Go
                </div>
              </div>
              <div class="media">
                <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                <div class="media-body">
                  Valable 24h/24
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span class="desc-tabs-txt d-flex">
                    <div class="media mr-3">
                        <img class="mr-2" src="/sites/default/files/images/illimix/call.svg" alt="Generic placeholder image">
                        <div class="media-body">
                            = appels
                        </div>
                    </div>
                    <div class="media mr-3">
                        <img class="mr-2" src="/sites/default/files/images/illimix/orange-messenger.svg" alt="Generic placeholder image">
                        <div class="media-body">
                            = messages
                        </div>
                    </div>
                    <div class="media mr-3">
                        <img class="mr-2" src="/sites/default/files/images/illimix/internet-usage.svg" alt="Generic placeholder image">
                        <div class="media-body">
                            = internet
                        </div>
                    </div>
                    <div class="media">
                        <img class="mr-2" src="/sites/default/files/images/illimix/clock.svg" alt="Generic placeholder image">
                        <div class="media-body">
                            = période d'utilisation
                        </div>
                    </div>
                </span>

    <div>
      Les Pass Jour sont valable 24h, <br class="show-illimix-only-mobile">les Pass Semaine sont valables 7 jours,<br class="show-illimix-only-mobile">les Pass Mois sont valables 30 jours.
    </div>
  </div>

  <div class="hide-illimix-only-mobile">
    <div class="space40"></div>

    <div class="desc-pass-lexique">
      Ces pass Internet, sont sécables, c’est-à-dire utilisables en une ou plusieurs fois selon vos besoins jusqu’à épuisement de la validité du pass.
    </div>
  </div>

  <div class="space30"></div>

  <div class="font20"><B class="mr-2">Partager avec vos amis</B> <img src="/sites/default/files/images/illimix/facebook.svg"><img src="/sites/default/files/images/illimix/twitter.svg"> <img src="/sites/default/files/images/illimix/linkedin-hover.svg"></div>

  <div class="space30"></div>
  <!--
  <div class="row">
    <div class="col-lg-6 col-sm-6 fsuper">
      <div class="desc-internet-illimix">
        <p>Consultez les promotions Illimix du moment</p>

        <button class="btn btn-inverse btn-primary hide-illimix">Découvrir</button>
        <button class="btn btn-inverse btn-primary hide-reverse-illimix btn-sm">Découvrir</button>
      </div>
      <img class="img-internet-illimix hide-illimix" src="/sites/default/files/images/illimix/superillimix.png">
      <img class="img-internet-illimix hide-reverse-illimix" src="/sites/default/files/images/illimix/superillimix-mobil.png">
    </div>
    <div class="col-lg-6 col-sm-6 profiter">
      <div class="desc-internet-illimix">
        <p class="hide-illimix">Profitez d’une meilleure expérience avec la 4G+</p>
        <p class="hide-reverse-illimix">Profitez du réseau 4G+ sur vos pass Illimix</p>

        <button class="btn btn-inverse btn-primary hide-illimix">Découvrir</button>
        <button class="btn btn-inverse btn-primary hide-reverse-illimix btn-sm">Découvrir</button>
      </div>
      <img class="img-internet-illimix hide-illimix" src="/sites/default/files/images/illimix/4g.png">
      <img class="img-internet-illimix hide-reverse-illimix" src="/sites/default/files/images/illimix/4g-mobile.png">
    </div>
  </div>
  -->
  <div class="space40"></div>
</div>

<div class="bg-white">
  <div class="contentS">
    <h2 class="title-option">Comment activer un pass ?</h2>

    <div class="space40"></div>
    <div class="option-illimix">
      <div class="option">
        <div class="media">
          <img class="img-605" src="/sites/default/files/images/illimix/605-black.svg" alt="Generic placeholder image">
          <div class="media-body">
            <div>Option 1 :</div>
            <B>Je tape #1234#</B>
          </div>
        </div>
        <div class="option-text hide-illimix">
          Pour activer ou acheter un pass, tapez #1234#. Choisissez le pass de votre choix.
        </div>
      </div>
      <div class="option">
        <div class="media">
          <img class="img-605" src="/sites/default/files/images/illimix/pass-internet-black.svg" style="margin-right: 6px;">
          <div class="media-body">
            <div>Option 2 :</div>
            <B><a href="http://pass.orange.sn"> Via passorange.sn</a></B>
          </div>
        </div>
        <div class="option-text hide-illimix">
          Depuis le site pass.orange.sn, sélectionnez le pass de votre choix puis achetez et surfez en toute liberté.
        </div>
      </div>
      <div class="option">
        <div class="media">
          <img class="img-605" src="/sites/default/files/images/illimix/orange-et-moi-black.svg" alt="Generic placeholder image">
          <div class="media-body">
            <div>Option 3 :</div>
            <B>Via l’appli Orange et Moi</B>
          </div>
        </div>
        <div class="option-text hide-illimix">
          Depuis votre appli Orange & Moi, sélectionnez et achetez votre pass en un clic.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="question">
  <B>Vous avez des questions ?<span class="show-illimix-only-mobile ml-2"></span> Rendez-vous sur</B> <a href="https://assistance.orange.sn" class="btn btn-inverse btn-primary ml-3">assistance.orange.sn</a>
</div>

<div class="footer-body" style="background-color:#fdcc00; margin-bottom: -40px; padding-bottom: 30px;">
  <div class="contentS d-none d-md-block d-sm-block">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h2" style="font-size: 24px;">Pourquoi choisir Orange ?</h2>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-1" src="/sites/default/files/images/black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Un réseau 4G hors-normes</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Assistance en ligne 24h/24</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.               </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Des apps à portée de main</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none d-sm-none">

    <div class="col-sm-12">
      <p class="pt-1"></p>
      <h2 class="h2" style="font-size: 22px;">Pourquoi choisir Orange ?</h2>
    </div>
    <div class="hide-reverse">
      <div class="row" style="overflow: hidden">
        <div class="col-12">
          <div class="swiper-container-footer">
            <div class="swiper-wrapper">
              <div class="swiper-slide" id="slide1">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="text-left" src="/sites/default/files/images/flybox.png" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Un reseau 4G<br>hors norme</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide2">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Assistance en <br> ligne 24h/24</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide3">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Des apps à <br> portée de main</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
                      </p>
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
