{{ attach_library('orange/global-jamono-css') }}
<p class="mb-3"></p>
<div class="contentS">
  <section class="accueil">
    <div class=" d-none  d-sm-none d-md-none d-lg-block">
      <ul class="debut ">
        <li class="debutli ml-0">
          <a href="/">Accueil</a><img class="imgSmall" src="/sites/default/files/icones/keyboard-arrow-up.svg" alt="" id="fleche">
        </li>
        <li class="debutli">
          <a href="/offres-mobiles">Nos offres mobiles </a><img class="imgSmall" src="/sites/default/files/icones/keyboard-arrow-up.svg" alt="" id="fleche1">
        </li>
        <li class="debutli dropdown">
          <a class="nav-link dropdown-toggle dropb " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b>Jamono New S'cool</b></a>
          <div class="dropdown-menu dropdow-menu-prinicepale">
            <a class="dropdown-item" href="#">Jamono New Allo</a>
            <a class="dropdown-item" href="#">Jamono Max</a>
            <a class="dropdown-item" href="#">Jamono family</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- pour mobile -->
    <div class="d-lg-none">
      <ul class="debut pl-2">
        <li class="debutli">
          <a href="/">Accueil</a><img class="imgSmall" src="/sites/default/files/icones/keyboard-arrow-up.svg" alt="" id="fleche">
        </li>
        </li>
        <li class="debutli dropdown" id="debutli1">
          <a class="nav-link dropdown-toggle dropb " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b>Jamono New S'cool</b></a>
          <div class="dropdown-menu dropdow-menu-prinicepale">
            <a class="dropdown-item" href="#">Jamono New Allo</a>
            <a class="dropdown-item" href="#">Jamono Max</a>
            <a class="dropdown-item" href="#">Jamono family</a>
          </div>
        </li>

      </ul>
    </div>
    <!-- fin mobile -->
  </section>
</div>
<div class="Group-11 d-none  d-sm-none d-md-none d-lg-block img-height">
  <img class="imgSmall Group-11" src="/sites/default/files/icones/background-header-jamono-new-scool@2x.png" alt="">
</div>
<!-- pour mobile -->
<div class="Group-11 d-lg-none ">
  <img class="imgSmall Group-11" src="/sites/default/files/icones/a@2x.png" alt="">
</div>
<!-- fin mobile -->
<div class="titreJamono contentS">
  <b id="jamono">Jamono</b>
  <h2 id="newScool">New S’Cool</h2>
</div>
<div class="contentS deuxcont" id="appel">
  <section class="sec secmobile">
    <div class="card border-0 Rectangle-26 d-none  d-sm-none d-md-none d-lg-block">
      <div class="row">
        <div class="col-lg-6 space">
          <div class="row">
            <div class="col-lg-2 px-0 p-img imgSmall">
              <img class="imgSmall iconee-card" src="/sites/default/files/icones/icones-phone-black-line.svg" alt="">
            </div>
            <div class="col-lg-4">
              <h4 class=" ">Prix ​​des appels</h4>
            </div>
            <div class="col-lg-6 ">
              <h6>1,99 F / Sec</h6>
              <p class="Vers-Orange-et-autre">Vers Orange et autres opérateurs</p>
            </div>

            <div class="col-lg-6 offset-lg-6">
              <h6>31,1 F / Sec</h6>
              <p class="Vers-Orange-et-autre">International Zone</p>
            </div>

            <div class="col-lg-6 offset-lg-6">
              <h6>4,5 F / Sec</h6>
              <p class="Vers-Orange-et-autre">International Zone</p>
            </div>

            <div class="col-lg-6 " id="second">
              <h1 class="Sece ">1 F / Sec</h1>
              <p class="Vers-Orange-et-autre">Vers Jamono New S’cool</p>
            </div>
            <div class="col-lg-6 start">
              <h6>5,0 F / Sec</h6>
              <p class="Vers-Orange-et-autre">International Zone</p>
            </div>

          </div>
        </div>
        <hr>

        <div class="col-lg-5 space">
          <div class="row">
            <div class="col-lg-2">
              <img class="imgSmall iconee-card" src="/sites/default/files/icones/message-black-line.svg">
            </div>
            <div class="col-lg-6">
              <h4>Prix ​​des SMS</h4>
            </div>

            <div class="col-lg-7 space2">
              <h1 class="Sece">5 F</b>
              </h1>
              <p class="Vers-Orange-et-autre">Vers Jamono New S’cool</p>
            </div>
            <div class="col-lg-5 space2">
              <h6 style="padding-top: 2px;">20 F</h6>
              <p class="Vers-Orange-et-autre">Vers Orange et </br> autres opérateurs</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- version mobiles -->
    <!-- premiére card c a d carde appel -->
    <div class="swiper-container d-block d-lg-none ">
      <div class="swiper-wrapper mb-0">
        <div class="swiper-slide">
          <div class="card border-0  Rectangle-26  widhtmobile ">
            <div class="row margeblock space">
              <div class="col-3 collicones">
                <img class="imgSmall icone-mob" src="/sites/default/files/icones/icones-phone-black-line.svg">
              </div>
              <div class="col-9">
                <h3 class="pda">Prix ​​des appels</h3>
              </div>
              <div class="col-12 ">
                <p class="Sec"><b>5,0 F / Sec</b></p>
                <p class="Vers-Orange-et-autre">International Zone</p>
              </div>
              <div class="col-12 ">
                <p class="Sec"><b>1,99 F / Sec</b></p>
                <p class="Vers-Orange-et-autre">Vers Orange et autres opérateurs</p>
              </div>
              <div class="col-12 ">
                <p class="Sec"><b>31,1 F / Sec</b></p>
                <p class="Vers-Orange-et-autre">International Zone</p>
              </div>

              <div class="col-12 ">
                <p class="Sec"><b>4,5 F / Sec</b></p>
                <p class="Vers-Orange-et-autre">International Zone</p>
              </div>
              <div class="col-12 ">
                <h1 class="Sece ">1 F / Sec</h1>
                <p class="Vers-Orange-et-autre">Vers Jamono New S’cool</p>
              </div>
            </div>
          </div>
        </div>
        <!-- fin premiére card -->
        <!-- début deuxieme card -->
        <div class="swiper-slide">
          <div class="card border-0  Rectangle-26 d-block d-lg-none ">
            <div class="row margeblock space">
              <div class="col-3 collicones">
                <img class="imgSmall icone-mob" src="/sites/default/files/icones/message-black-line.svg">
              </div>
              <div class="col-9">
                <h3 class="pda">Prix ​​des SMS</h3>
              </div>

              <div class="col-12 ">
                <p class="Sec"><b>20 F / Sec</b></p>
                <p class="Vers-Orange-et-autre">Vers Orange et autres opérateurs</p>
              </div>
              <div class="col-12 padding-mobile-swiper2 ">
                <h1 class="Sece ">5 F / Sec</h1>
                <p class="Vers-Orange-et-autre">Vers Jamono New S’cool</p>
              </div>
            </div>
          </div>
        </div>
        <!-- fin deuxiéme card -->

      </div>

    </div>

    <!-- fin version mobile -->

  </section>
  <section class="illimix sec">
    <!-- version desktop -->
    <div class="card border-0 Rectangle-26 d-none  d-sm-none d-md-none d-lg-block">
      <div class=" card-header Rectangle-12">
        <div class="row">
          <div class="col-lg-1 col-2 etoileOrange">
            <img class="imgSmall icone m-1" src="/sites/default/files/icones/ilimix-new-scool-orange.svg">
          </div>
          <div class="col-lg-11 col-10">
            <h4 class="Les-illimix-Jamono-N mb-0 ">Les illimix Jamono New S’cool</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row row3" id="row3-3">
          <div class="col-lg-3 ">
          </div>
          <div class="col-lg-3 ">
            <img class="imgSmall icone after" src="/sites/default/files/icones/phone-black.svg">
          </div>
          <div class="col-lg-3 ">
            <img class="imgSmall icone" src="/sites/default/files/icones/message-black.svg">
          </div>
          <div class="col-lg-3 ">
            <img class="imgSmall icone" src="/sites/default/files/icones/pass-internet-noir.svg" id="margin-icone">
          </div>
        </div>
        <div class="row row3">
          <div class="col-lg-3 ">
            <h4 class="-FCFA">490 FCFA</h4>
          </div>
          <div class="col-lg-3">
            <b> <p class="-mine">25 min</p></b>
            <p class="-min">10 jours</p>
          </div>
          <div class="col-lg-3 ">
            <b> <p class="-mine">Illimités</p></b>
            <p class="-min">De 12h à 22h</p>
          </div>
          <div class="col-lg-3 ">
            <b> <p class="-mine ">125 Mo</p></b>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3  ">
            <h4 class="-FCFA">1 900 FCFA</h4>
          </div>
          <div class="col-lg-3 ">
            <b> <p class="-mine">25 min</p></b>
            <p class="-min">10 jours</p>
          </div>
          <div class="col-lg-3 ">
            <b> <p class="-mine">Illimités</p></b>
            <p class="-min">De 12h à 22h</p>
          </div>
          <div class="col-lg-3 ">
            <b> <p class="-mine">500 Mo</p></b>
          </div>
        </div>
      </div>
    </div>
    <!-- fin version version desktop -->

    <!-- version mobile -->
    <div class="contentS">
      <div class="card border-0 Rectangle-26 d-lg-none">
        <div class=" card-header Rectangle-12">
          <div class="row rowWidth">
            <div class="col-lg-1 col-2 " id="etoileOrange">
              <img class="imgSmall icone" src="/sites/default/files/icones/ilimix-new-scool-orange.svg">
            </div>
            <div class="col-lg-11 col-10">
              <h4 class="Les-illimix-Jamono-N ">Les illimix Jamono New S’cool</h4>
            </div>
          </div>
        </div>
        <div class="card-body pb-0">
          <div class="row">
            <div class="col-2" style="padding-top: 48px;">
              <div class="d-flex flex-column">
                <div><img class="imgSmall width-ic pb-icone-swiper" src="/sites/default/files/icones/phone-black.svg"></div>
                <div><img class="imgSmall width-ic pb-icone-swiper" src="/sites/default/files/icones/message-black.svg"></div>
                <div><img class="imgSmall width-ic" src="/sites/default/files/icones/pass-internet-noir.svg"></div>
              </div>
            </div>
            <div class="col-10">
              <div class="row">
                <div class="swiper-container d-block d-lg-none">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide swipe3 mr-0">
                      <div class="d-flex flex-column">
                        <div class="pb-1">
                          <h4 class="-FCFA pl-2">490 FCFA</h4>
                        </div>
                        <div> <b> <p class="-mine mb-0">25 min</p></b>
                          <p class="-min">10 jours</p>
                        </div>
                        <div class="pt-1">
                          <b> <p class="-mine mb-0">Illimités</p></b>
                          <p class="-min">De 12h à 22h</p>
                        </div>
                        <div class="pt-2">
                          <b> <p class="-mine" style="height: 0;">125 Mo</p></b></div>
                      </div>
                    </div>
                    <div class="swiper-slide swipe3 mr-0">
                      <div class="d-flex flex-column">
                        <div class="pb-1">
                          <h4 class="-FCFA pl-2">1 900 FCFA</h4>
                        </div>
                        <div> <b> <p class="-mine mb-0">25 min</p></b>
                          <p class="-min">10 jours</p>
                        </div>
                        <div class="pt-1">
                          <b> <p class="-mine mb-0">Illimités</p></b>
                          <p class="-min">De 12h à 22h</p>
                        </div>
                        <div class="pt-2">
                          <b> <p class="-mine" style="height: 0;">500 Mo</p></b></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- fin version mobile -->




  </section>
  <section class="passNewScool sece" id="passnewSc">
    <div class="card border-0 Rectangle-26">
      <div class=" card-header Rectangle-12">
        <!-- div row version desktop -->
        <div class="d-none  d-sm-none d-md-none d-lg-block">
          <div class="row ">
            <div class="col-lg-1 col-2 etoileOrange">
              <img class="imgSmall icone m-1" src="/sites/default/files/icones/pass-internet-orange.svg">
            </div>
            <div class="col-lg-11 col-10">
              <h4 class="Les-illimix-Jamono-N mb-0 ">Les Pass Internet Jamono New S’cool</h4>
            </div>
          </div>
        </div>

        <!-- fin version desktop -->
        <!-- div row version mobile -->
        <div class="row d-lg-none">
          <div class="col-lg-1 col-2" id="etoileOrange">
            <img class="imgSmall icone" src="/sites/default/files/icones/pass-internet-orange.svg">
          </div>
          <div class="col-lg-11 col-10 d-none  d-sm-none d-md-none d-lg-block">
            <h4 class="Les-illimix-Jamono-N ">Les illimix Jamono New S’cool</h4>
          </div>
          <div class="col-lg-11 col-10 d-lg-none">
            <h4 class="Les-illimix-Jamono-N ">Pass New S’cool</h4>
          </div>
        </div>
        <!-- fin version mobile -->
      </div>
      <!-- vresion desktop -->
      <div class="card-body d-none  d-sm-none d-md-none d-lg-block">
        <div class="o-tab-container row tabe1 ">
          <a class="o-tab-heading col-lg-3 pb-0" href="#" id="tab1">Les Pass Jour</a>
          <div class="o-tab-content show" id="tab-1-content">
            <div class="row rowspeace pt-2">
              <div class="col-lg-2 col-6 max card-space">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">250 Mo</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">500 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-lg-2 col-6 max">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">30 min</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">250 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-2 col-6 max card-space">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">1 h</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">400 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-6 max">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">24 h </b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">1.000 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <p class="Valable-30-jours-ds">Valable 30 jours dès souscription</p>


          </div>
          <a class="o-tab-heading col-lg-3" href="#" id="tab2">Les Pass Semaine</a>
          <div class="o-tab-content" id="tab-2-content">

            <div class="row rowspeace pt-2">
              <div class="col-lg-2 col-6 max card-space">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">400 Mo</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">1.000 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-6 max">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">1 Go</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">2.000 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-6 max card-space">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">5 Go</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">5.000 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-6 max">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">3 h</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">1.000 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <p class="Valable-30-jours-ds">Valable 7 H dès souscription</p>

          </div>

          <a class="o-tab-heading col-lg-3" href="#" id="tab3">Les Pass Mois</a>
          <div class="o-tab-content" id="tab-3-content">

            <div class="row rowspeace pt-2">
              <div class="col-lg-2 col-6 max card-space">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">2.5 Go</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">1.000 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-6 max">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">7 Go</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">10.000 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-6 max card-space">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">15 Go</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">19.000 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-6 max">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">25 G0</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">25.000 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <p class="Valable-30-jours-ds">Valable 1 Moin dès souscription</p>

          </div>
          <a class="o-tab-heading col-lg-2 col-7" href="#" id="tab4">Les Pass Nuit</a>
          <div class="o-tab-content" id="tab-3-content">

            <div class="row rowspeace pt-2">
              <div class="col-lg-2 col-6 max card-space">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">300 Mo</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">300 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-6 max">
                <div class="cardcomplet ">
                  <div class="card-body">
                    <div class="row rowcarbody">
                      <div class="col-lg-9 col-9 coll">
                        <b class="-Mo">2 G0</b>
                      </div>
                      <div class="col-lg-3 col-3">
                        <div class="Rectangle-5"></div>
                      </div>
                      <div class="col-lg-4 col-4">
                        <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                      </div>
                      <div class="col-lg-8 col-8">
                        <b class="-Moo">500 F</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <p class="Valable-30-jours-ds">Valable 6 H dès souscription</p>

          </div>
        </div>
      </div>
      <!-- fin version desktop -->
      <div class="card-body d-block d-lg-none">

        <div class="accordion" id="accordionExample-6">
          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                  Les Pass Jour
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordionExample-6">
              <div class="card-body mb-0">
                <div class="row">
                  <div class="col-6 col-sm-4 mb-1">
                    <div class="cardcomplet ">
                      <div class="card-body ">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">250 Mo</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">500 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4 mb-1">
                    <div class="cardcomplet cardcompletmarginleft">
                      <div class="card-body">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">30 min</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">250 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4 mb-1">
                    <div class="cardcomplet ">
                      <div class="card-body">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">1 h</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">400 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6  mb-1">
                    <div class="cardcomplet cardcompletmarginleft">
                      <div class="card-body">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">24 h</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">1.000 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="Valable-30-jours-ds mb-2 mt-1 ml-1">Valable 30 jours dès souscription</p>
                </div>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Les Pass Semaine
                </button>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample-6">
              <div class="card-body mb-0">
                <div class="row">
                  <div class="col-6 col-sm-4 mb-1">
                    <div class="cardcomplet ">
                      <div class="card-body ">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">400 Mo</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">1.000 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4 mb-1">
                    <div class="cardcomplet cardcompletmarginleft">
                      <div class="card-body">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">1 Go</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">2.000 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4 mb-1">
                    <div class="cardcomplet ">
                      <div class="card-body">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">5 Go</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">5.000 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-1">
                    <div class="cardcomplet cardcompletmarginleft">
                      <div class="card-body">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">3 h</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">1.000 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="Valable-30-jours-ds mb-2 mt-1 ml-1">Valable 7 H dès souscription</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingHeigth">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseHeigth" aria-expanded="false" aria-controls="collapseHeigth">
                  Les Pass Mois
                </button>
              </h5>
            </div>
            <div id="collapseHeigth" class="collapse" aria-labelledby="headingHeigth" data-parent="#accordionExample-6">
              <div class="card-body mb-0">
                <div class="row">
                  <div class="col-6 col-sm-4 mb-1">
                    <div class="cardcomplet ">
                      <div class="card-body ">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">2.5 Go</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">1.000 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4 mb-1">
                    <div class="cardcomplet cardcompletmarginleft">
                      <div class="card-body">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">7 Go</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">10.000 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4 mb-1">
                    <div class="cardcomplet ">
                      <div class="card-body">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">15 Go</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">19.000 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-1">
                    <div class="cardcomplet cardcompletmarginleft">
                      <div class="card-body">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">25 Go</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">500 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="Valable-30-jours-ds mb-2 mt-1 ml-1">Valable 1 Mois dès souscription</p>
                </div>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                  Les Pass Nuit
                </button>
              </h5>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample-6">
              <div class="card-body mb-0">
                <div class="row">
                  <div class="col-6 col-sm-4 mb-1">
                    <div class="cardcomplet ">
                      <div class="card-body ">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">300 Mo</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">300 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6  mb-1">
                    <div class="cardcomplet cardcompletmarginleft">
                      <div class="card-body">
                        <div class="row rowcarbody">
                          <div class="col-lg-9 col-9 coll">
                            <b class="-Mo">2 G0</b>
                          </div>
                          <div class="col-lg-3 col-3">
                          </div>
                          <div class="col-lg-4 col-4 ">
                            <img class="imgSmall Data_Services" src="/sites/default/files/icones/data-services.png" alt="">
                          </div>
                          <div class="col-lg-8 col-8">
                            <b class="-Moo">500 F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="Valable-30-jours-ds mb-2 mt-1 ml-1">Valable 6 H dès souscription</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="illimix sec bor secmobile">
    <h2 class="Promos-et-bons-plans">Promos et bons plans New S’cool</h2>
    <div class="d-none  d-sm-none d-md-none d-lg-block">
      <div class="row ">
        <div class="col-lg-4 col-4">
          <div class="card  border-0" style="width: 100%;">
            <img class="imgSmall card-imageS" src="/sites/default/files/icones/happy-night@2x.png" alt="Card image cap">
            <div class="card-body element-promo">
              <div class=" p8">
                <h4 class="Promo-Puce">Happy Night</h4>
              </div>
              <div class="">
                <button type="" class="Rectangle-77 "> <a href="#" class="decouvrir">Découvrir</a> </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-4">
          <div class="card  border-0" style="width: 100%;">
            <img class="imgSmall card-imageS" src="/sites/default/files/icones/new-school-tour@2x.png">
            <div class="card-body element-promo">
              <div class=" p8">
                <h4 class="Promo-Puce">Happy Night</h4>
              </div>
              <div class="">
                <button type="" class="Rectangle-77 "> <a href="#" class="decouvrir">Découvrir</a> </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-4">
          <div class="card  border-0" style="width: 100%;">
            <img class="imgSmall card-imageS" src="/sites/default/files/icones/attentions-aux-pieges@2x.png" alt="Card image cap">
            <div class="card-body element-promo">
              <div class=" p8">
                <h4 class="Promo-Puce">Happy Night</h4>
              </div>
              <div class="">
                <button type="" class="Rectangle-77 "> <a href="#" class="decouvrir">Découvrir</a> </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- promos et bons plans New s'cool version mobile -->
    <div class="swiper-container d-block d-lg-none">
      <div class="swiper-wrapper">
        <div class="swiper-slide swipe2">
          <div class="card shad">
            <img class="imgSmall card-imageS" src="/sites/default/files/icones/happy-night@2x.png" alt="Card image cap">
            <div class="card-body element-promo">

              <h4 class="Promo-Puce">Happy Night</h4>

            </div>
          </div>
        </div>
        <div class="swiper-slide swipe2">
          <div class="card shad">
            <img class="imgSmall card-imageS" src="/sites/default/files/icones/new-school-tour@2x.png">
            <div class="card-body element-promo">

              <h4 class="Promo-Puce">New S'Cool</h4>

            </div>
          </div>
        </div>
        <div class="swiper-slide swipe2">
          <div class="card shad">
            <img class="imgSmall card-imageS" src="/sites/default/files/icones/attentions-aux-pieges@2x.png" alt="Card image cap">
            <div class="card-body element-promo">

              <h4 class="Promo-Puce">Attention</h4>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fin de la version mobile jamono new s'chool  -->
  </section>

  <section class="avantage  bor sec secmobile">
    <div class="d-none  d-sm-none d-md-none d-lg-block">
      <ul class="nav nav-tabs row border-bottom-0 " id="myTab" role="tablist">
        <li class="nav-item col-lg-6">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
            <h4 class="mb-0 pt-2">Les avantages New S’cool</h4>
          </a>
        </li>
        <li class="nav-item col-lg-6">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
            <h4 class="mb-0 pt-2">Comment je deviens New S’cool ?</h4>
          </a>
        </li>
      </ul>
      <div class="tab-content tab-content-border ml-0 mr-2" id="myTabContent">
        <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row blockavantage">
            <div class="col-lg-6 pb-3">
              <div class="Tarifs">
                <img class="imgSmall" src="/sites/default/files/icones/tarif-reduit-black.svg" alt="Card image cap" id="imageLoren">
                <b class="Tarifs-rduits-entre">Tarifs réduits entre Jamono New Scool</b>
              </div>
              <p class="Lorem-ipsum-dolor-si">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-6 pb-3 ">
              <div class="Tarifs">
                <img class="imgSmall imageLoren1" src="/sites/default/files/icones/plus-de-data-black.svg" alt="Card image cap">
                <b class="Tarifs-rduits-entre">Plus de data dans les Illimix</b>
              </div>
              <p class="Lorem-ipsum-dolore ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-6 pb-3">
              <div class="Tarifs">
                <img class="imgSmall" src="/sites/default/files/icones/ilimix-black.svg" alt="Card image cap" id="imageLoren2">
                <b class="Tarifs-rduits-entre">Crédit avec une validité illimitée</b>
              </div>
              <p class="Lorem-ipsum-dolor-si ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-6 pb-3">
              <div class="Tarifs">
                <img class="imgSmall imageLoren1" src="/sites/default/files/icones/pass-internet-noir.svg" alt="Card image cap">
                <b class="Tarifs-rduits-entre">Accès à 2 Pass Internet pas chers</b>
              </div>
              <p class="Lorem-ipsum-dolor-si ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-6 ">
              <div class="Tarifs">
                <img class="imgSmall imageLoren1" src="/sites/default/files/icones/pass-voyage-black.svg" alt="Card image cap">
                <b class="Tarifs-rduits-entre">Possibilité d’achat de Pass Voyage</b>
              </div>
              <p class="Lorem-ipsum-dolor-si ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-6 ">
              <div class="Tarifs">
                <img class="imgSmall" src="/sites/default/files/icones/offre-family-black.svg" alt="Card image cap" id="imageLoren3">
                <b class="Tarifs-rduits-entre">Bénéficier de l’Offre Family</b>
              </div>
              <p class="Lorem-ipsum-dolor-si ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>

        </div>
        <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row blockavantage">
            <div class="col-lg-4">
              <div class="Tarifs">
                <img class="imgSmall" src="/sites/default/files/icones/605-black.svg" alt="Card image cap" id="image-Option">
                <div class="option">
                                        <span>Option 1 :
                                                <h4>Je tape #605#</h4></span>
                </div>
              </div>
              <p class="Lorem-ipsum-d">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-4">
              <div class="Tarifs">
                <img class="imgSmall" src="/sites/default/files/icones/phone-black.svg" alt="Card image cap" id="image-phone-black">
                <div class="option">
                                        <span>Option 2 :
                                                    <h4>Je tape #605#</h4></span>
                </div>
              </div>
              <p class="Lorem-ipsum-d">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-4">
              <div class="Tarifs">
                <img class="imgSmall" src="/sites/default/files/icones/orange-et-moi-black.svg" alt="Card image cap" id="image-orange-et-moi-black">
                <div class="option">
                                        <span>Option 3 :
                                                        <h4>Je tape #605#</h4></span>
                </div>
              </div>
              <p class="Lorem-ipsum-d">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- version mobile -->
    <h2 class="Les-avantages-New-S d-block d-lg-none">Les avantages New S’cool</h2>
    <div class="d-block d-lg-none mb-2">
      <div class="row ">
        <div class="col-6 mb-2">
          <div class="Rectangle-33 text-center">
            <img class="py-2" src="/sites/default/files/icones/tarif-reduit-black.svg" alt="Card image cap" id="imageLoren">
            <b> <p class="Tarifs-rduits">Tarifs réduits</p></b>
          </div>
        </div>
        <div class="col-6 mb-2">
          <div class="Rectangle-33 text-center">
            <img class="imageAvion py-2" src="/sites/default/files/icones/plus-de-data-black.svg" alt="Card image cap">
            <b> <p class="Tarifs-rduits">Plus de data</p></b>
          </div>
        </div>
        <div class="col-6 mb-2">
          <div class="Rectangle-33 text-center">
            <img class="py-2" src="/sites/default/files/icones/ilimix-black.svg" alt="Card image cap" id="image-Option">
            <b> <p class="Tarifs-rduits">Validité illimitée</p></b>
          </div>
        </div>
        <div class="col-6 mb-2">
          <div class="Rectangle-33 text-center">
            <img class="imageAvion py-2" src="/sites/default/files/icones/pass-internet-noir.svg" alt="Card image cap" id="image-phone-black">
            <b> <p class="Tarifs-rduits">2 Pass Internet</p></b>
          </div>
        </div>
        <div class="col-6 mb-2">
          <div class="Rectangle-33 text-center">
            <img class="imageAvion py-2" src="/sites/default/files/icones/pass-voyage-black.svg" alt="Card image cap">
            <b> <p class="Tarifs-rduits">2 Pass Internet</p></b>
          </div>
        </div>
        <div class="col-6 mb-2">
          <div class="Rectangle-33 text-center">
            <img class="py-2" src="/sites/default/files/icones/offre-family-black.svg" alt="Card image cap" id="image-orange-et-moi-black">
            <b> <p class="Tarifs-rduits">2 Pass Internet</p></b>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="devenir-new-s'coll-mobile d-block d-lg-none">
    <!-- pour les avantages Devenir New S’cool ? version mobile -->

    <h2 class="Les-avantages-New-S pl-2">Devenir New S’cool ?</h2>
    <div class="Rectangle-13 pr-1">
      <div class="row">
        <div class="col-12 p-3" style=" display: flex;">
          <div>
            <img class="imgSmall" src="/sites/default/files/icones/605-black.svg" alt="" id="icon-devenir-ns">
          </div>
          <div class="px-3 mt"> <span class="option-mobile">Option 1 :
                                        <h4 class="mb-0 pt-1">Je tape #605#</h4></span></div>
        </div>
        <div class="col-12 p-3 " style=" display: flex;">
          <div>
            <img class="imgSmall" src="/sites/default/files/icones/orange-et-moi-black.svg" alt="" id="icon-devenir-ns-1">
          </div>
          <div class="px-3 mt"> <span class="option-mobile">Option 2 :
                                            <h4 class="mb-0 pt-1">Via l’appli Orange et Moi</h4></span></div>
        </div>
        <div class="col-12 p-3" style=" display: flex;">
          <div>
            <img class="imgSmall" src="/sites/default/files/icones/phone-black.svg" alt="" id="icon-devenir-ns-2">
          </div>
          <div class="mt" style="padding-left: 14px;"> <span class="option-mobile">Option 3 :
                                                <h4 class="mb-0 pt-1">Je compose le 605</h4></span></div>
        </div>

      </div>
    </div>


    <!-- fin version mobile -->
  </section>


  <section class="illimix sec">
    <h2 class="pl-2">Questions fréquentes</h2>
    <!-- <div class="card border-0 Rectangle-26 Rectangle-26-6"></div> -->
    <div class="accordion" id="accordionExample-3">
      <div class="card ">
        <div class="card-header" id="headingOne-3">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">
              <h4 class="card-question-frequent">Comment activer une offre ?</h4>
            </button>
          </h5>
        </div>

        <div id="collapseOne-3" class="collapse show" aria-labelledby="headingOne-3" data-parent="#accordionExample-3">
          <div class="card-body">
            <p class="text-loren card-question-frequent"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo-3">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo-3" aria-expanded="false" aria-controls="collapseTwo-3">
              <h4 class="card-question-frequent">Quels sont les prix de Jamono S’cool ?</h4>
            </button>
          </h5>
        </div>
        <div id="collapseTwo-3" class="collapse" aria-labelledby="headingTwo-3" data-parent="#accordionExample-3">
          <div class="card-body">
            <p class="text-loren card-question-frequent"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree-3">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree-3" aria-expanded="false" aria-controls="collapseThree-3">
              <h4 class="card-question-frequent">Puis-je changer d’offre plusieurs fois ?</h4>
            </button>
          </h5>
        </div>
        <div id="collapseThree-3" class="collapse" aria-labelledby="headingThree-3" data-parent="#accordionExample-3">
          <div class="card-body">
            <p class="text-loren card-question-frequent"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour-3">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour-3" aria-expanded="false" aria-controls="collapseFour-3">
              <h4 class="card-question-frequent">Ma 4G ne marche pas, pourquoi ?</h4>
            </button>
          </h5>
        </div>
        <div id="collapseFour-3" class="collapse" aria-labelledby="headingFour-3" data-parent="#accordionExample-3">
          <div class="card-body">
            <p class="text-loren card-question-frequent"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive-3">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive-3" aria-expanded="false" aria-controls="collapseFive-3">
              <h4 class="card-question-frequent">Comment je deviens New S’cool ?</h4>
            </button>
          </h5>
        </div>
        <div id="collapseFive-3" class="collapse" aria-labelledby="headingFive-3" data-parent="#accordionExample-3">
          <div class="card-body">
            <p class="text-loren card-question-frequent"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
          </p>
        </div>
      </div>

    </div>
  </section>


</div>






<div class="footer-body" style="background-color:#fdcc00; margin-bottom: -40px; padding-bottom: 30px;">
  <div class="contentS d-none d-md-block d-sm-block">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h2" style="font-size: 24px;">Pourquoi choisir Orange ?</h2>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-1" src="/sites/default/files/images/black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Un réseau 4G hors-normes</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style="font-family: HelveticaNeueLTStd-Roman; text-align: justify;">
                Profitez du réseau 4G le plus<br>
                étendu du Sénégal avec une<br>
                qualité de réseau optimale
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <button class="btn btn-outline-dark" type="submit">Découvrir</button>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Assistance en ligne 24h/24</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style="font-family: HelveticaNeueLTStd-Roman; text-align: justify;">
                Profitez du réseau 4G le plus<br>
                étendu du Sénégal avec une<br>
                qualité de réseau optimale
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <button class="btn btn-outline-dark" type="submit">Découvrir</button>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Des apps à portée de main</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style="font-family: HelveticaNeueLTStd-Roman; text-align: justify;">
                Profitez du réseau 4G le plus<br>
                étendu du Sénégal avec une<br>
                qualité de réseau optimale
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <button class="btn btn-outline-dark" type="submit">Découvrir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none d-sm-none">

    <div class="col-sm-12">
      <p class="pt-1"></p>
      <h2 class="h2" style="font-size: 22px;">Pourquoi choisir Orange ?</h2>
    </div>
    <div class="hide-reverse">
      <div class="row" style="overflow: hidden">
        <div class="col-12">
          <div class="swiper-container-footer">
            <div class="swiper-wrapper">
              <div class="swiper-slide" id="slide1">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="text-left" src="/sites/default/files/images/flybox.png" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Un reseau 4G<br>hors norme</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style="font-family: HelveticaNeueLTStd-Roman; text-align: justify;">
                        Profitez du réseau 4G le<br>
                        plus étendu du Sénégal<br>
                        avec une qualité de<br>
                        réseau optimale
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <button class="btn btn-outline-dark" type="submit">Découvrir</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide2">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Assistance en <br> ligne 24h/24</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style="font-family: HelveticaNeueLTStd-Roman; text-align: justify;">
                        Profitez du réseau 4G le<br>
                        plus étendu du Sénégal<br>
                        avec une qualité de<br>
                        réseau optimale
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <button class="btn btn-outline-dark" type="submit">Découvrir</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide3">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Des apps à <br> portée de main</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style="font-family: HelveticaNeueLTStd-Roman; text-align: justify;">
                        Profitez du réseau 4G le<br>
                        plus étendu du Sénégal<br>
                        avec une qualité de<br>
                        réseau optimale
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <button class="btn btn-outline-dark" type="submit">Découvrir</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
