<div class="row">
  <div class="col-lg-12">
    <div class="debit-yellow">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="debit-title">
            <span><B>La Fibre d’Orange :</B></span><br>
            une vitesse inégalé
          </div>

          <div class="desc-debit">
            Jusqu'à <B>30 Mégabits par seconde</B> constant en téléchargements à la réception et <B>2 Mégabits par seconde</B> en débit constant à l’envoi. <br>
            La fibre optique est jusqu'à <B>30 fois plus rapide</B> que l’ADSL
          </div>
          <div class="space30"></div>
          <button class="btn btn-outline-dark hide-mobile-fibre"><span class="px-4">En savoir plus</span></button>
        </div>

        <div class="col-lg-6 col-sm-6">
          <div class="row">
            <div class="col-lg-6 col-6 border-other active test-fast" data-vfbr="10000" data-vadsl="60000">
              <div>
                <div class="media">
                  <img src="/sites/default/files/images/home-fibre/media.svg" class="img-test-icone">
                  <div class="media-body">
                    Télécharger un film
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-6 border-other test-fast" data-vfbr="5000" data-vadsl="20000">
              <div class="media">
                <img src="/sites/default/files/images/home-fibre/image.svg" class="img-test-icone">
                <div class="media-body">
                  Partager des photos
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="bar-S">
            <div class="col-lg-6 bar-S col-6">
              <div class="progress-bar position vfibre" data-percent="100" data-duration="10000" data-text="00:10 <br> <B class='own-vit'>Fibre</B>" data-color="#eeeeee,#a885d8"></div>
            </div>
            <div class="col-lg-6 bar-S col-6">
              <div class="progress-bar position vadsl" data-percent="100" data-duration="60000" data-text="30:00 <br> <B class='own-vit'>Adsl</B>" data-color="#eeeeee,#a885d8"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="space50"></div>

      <div class="boder-dashed"></div>

      <div class="space30"></div>

      <div class="title-blockC">
        ….pour un <B>confort d’utilisation</B> révolutionnaire.
      </div>

      <div class="space30"></div>
      <div class="row">
        <div class="block-20">
          <div class="text-center">
            <img src="/sites/default/files/images/home-fibre/paiement-online.svg" class="img-round-dep">
          </div>
          <div class="text-center mt-2">
            <B class="media-title-fibre">Téléchargement</B>
            <div>de fichier volumineux</div>
          </div>
        </div>
        <div class="block-20">
          <div class="text-center">
            <img src="/sites/default/files/images/home-fibre/ligne-fixe.svg" class="img-round-dep">
          </div>
          <div class="text-center mt-2">
            <B class="media-title-fibre">Jeux en ligne</B>
            <div>Playstation, etc...</div>
          </div>
        </div>
        <div class="block-20">
          <div class="text-center">
            <img src="/sites/default/files/images/home-fibre/service-client.svg" class="img-round-dep">
          </div>
          <div class="text-center mt-2">
            <B class="media-title-fibre">Streaming</B>
            <div>Vidéo HD 4K</div>
          </div>
        </div>
        <div class="block-20">
          <div class="text-center">
            <img src="/sites/default/files/images/home-fibre/bouquet-tv.svg" class="img-round-dep">
          </div>
          <div class="text-center mt-2">
            <B class="media-title-fibre">Télévision</B>
            <div>en UHD</div>
          </div>
        </div>
        <div class="block-20">
          <div class="text-center">
            <img src="/sites/default/files/images/home-fibre/paiement-online.svg" class="img-round-dep">
          </div>
          <div class="text-center mt-2">
            <B class="media-title-fibre">Autres</B>
            <div>de fichier volumineux</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
