{{ attach_library('orange/global-offre-home-css') }}
<section class="decouvre-tv">
  <div class="d-none  d-sm-none d-md-none d-lg-block">
    <ul class="nav nav-tabs row border-bottom-0 " id="myTab" role="tablist">
      <li class="nav-item col-lg-6 text-center">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <h4 class="mb-0">L’offre en résumé</h4>
        </a>
      </li>
      <li class="nav-item col-lg-6 text-center">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <h4 class="mb-0">Comment souscrire ?</h4>
        </a>
      </li>
    </ul>
    <div class="tab-content tab-content-border ml-0 mr-2" id="myTabContent">
      <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row blockavantage">
          <div class="col-lg-4  dsp">
            <div class="groupe171">
              <img src="/sites/default/files/images/home/connexion.svg" class="" alt="">
            </div>
            <div class="text-img">
              <p class="une-connexion-st">Une <b>connexion</b> stable à haut débit</p>
            </div>
          </div>
          <div class="col-lg-4 dsp">
            <div class="groupe171">
              <img src="/sites/default/files/images/home/ligne-fixe.svg" class="" alt="">
            </div>
            <div class="text-img">
              <p class="une-connexion-st"> Une <b>ligne fixe</b> généreuse</p>
            </div>
          </div>
          <div class="col-lg-4 dsp">
            <div class="groupe171">
              <img src="/sites/default/files/images/home/bouquet-tv.svg" class="" alt="">
            </div>
            <div class="text-img">
              <p class="une-connexion-st">Un <b>bouquet TV </b> complet</p>
            </div>
          </div>
          <div class="col-lg-4 dsp">
            <div class="groupe171">
              <img src="/sites/default/files/images/home/service-client.svg" class="" alt="">
            </div>
            <div class="text-img">
              <p class="une-connexion-st">Un <b>service client</b> disponible 7/24</p>
            </div>
          </div>
          <div class="col-lg-4 dsp">
            <div class="groupe171">
              <img src="/sites/default/files/images/home/paiement-online.svg" class="" alt="">
            </div>
            <div class="text-img">
              <p class="une-connexion-st">Le <b>paiement en ligne</b> via Orange Money</p>
            </div>
          </div>
          <div class="col-lg-4 dsp">
            <div class="groupe171">
              <img src="/sites/default/files/images/home/orange-et-vous.svg" class="" alt="">
            </div>
            <div class="text-img">
              <p class="une-connexion-st">Un <b> espace client</b> personnalisé</p>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row blockavantage">
          <div class="col-lg-4">
            <div class="Tarifs">
              <div class="option">
                                            <span>Option 1 :
                                                        <h4>Je tape #605#</h4></span>
              </div>
            </div>
            <p class="Lorem-ipsum-d">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-lg-4">
            <div class="Tarifs">
              <div class="option">
                                            <span>Option 2 :
                                                            <h4>Je tape #605#</h4></span>
              </div>
            </div>
            <p class="Lorem-ipsum-d">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-lg-4">
            <div class="Tarifs">
              <div class="option">
                                            <span>Option 3 :
                                                                <h4>Je tape #605#</h4></span>
              </div>
            </div>
            <p class="Lorem-ipsum-d">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- version mobile -->
  <h2 class="Les-avantages-New-S d-block d-lg-none">L’offre en résumé</h2>
  <div class="d-block d-lg-none mb-2">
    <div class="row ">
      <div class="col-6 mb-2">
        <div class="Rectangle-33 text-center">
          <img class="py-2" src="/sites/default/files/images/home/connexion-mobile.png" alt="Card image cap" id="imageLoren">
          <p class="Tarifs-rduits"> <b class=""> Une connexion</b> stable à haut débit</p>
        </div>
      </div>
      <div class="col-6 mb-2">
        <div class="Rectangle-33 text-center">
          <img class="imageAvion py-2" src="/sites/default/files/images/home/ligne-fixe-mobile.png" alt="Card image cap">
          <p class="Tarifs-rduits">Une ligne fixe généreuse
          </p>
        </div>
      </div>
      <div class="col-6 mb-2">
        <div class="Rectangle-33 text-center">
          <img class="py-2" src="/sites/default/files/images/home/bouquet-tv-mobile.png" alt="Card image cap" id="image-Option">
          <p class="Tarifs-rduits">Un <b class="">bouquet TV</b> complet
          </p>
        </div>
      </div>
      <div class="col-6 mb-2">
        <div class="Rectangle-33 text-center">
          <img class="imageAvion py-2" src="/sites/default/files/images/home/service-client-mobile.png" alt="Card image cap">
          <p class="Tarifs-rduits">Un <b class="">service client</b> disponible 7/24</p>
        </div>
      </div>
      <div class="col-6 mb-2">
        <div class="Rectangle-33 text-center">
          <img class="imageAvion py-2" src="/sites/default/files/images/home/paiement-online-mobile.png" alt="Card image cap" id="image-phone-black">
          <p class="Tarifs-rduits">Le <b class="">paiement en ligne via</b> OM</p>
        </div>
      </div>

      <div class="col-6 mb-2">
        <div class="Rectangle-33 text-center">
          <img class="py-2" src="/sites/default/files/images/home/espace-client-mobile.png" alt="Card image cap" id="image-orange-et-moi-black">
          <p class="Tarifs-rduits">Un <b class="">espace client</b> personnalisé </p>
        </div>
      </div>
    </div>
  </div>
  <!-- pour les avantages Devenir New S’cool ? version mobile -->
  <div class="d-lg-none">
    <h2 class="Les-avantages-New-S pl-2">Comment souscrire ?</h2>
    <div class="Rectangle-13 pr-1">
      <div class="row">
        <div class="col-12 p-3" style=" display: flex;">
          <div>
            <img class="imgSmall imag-tp" src="/sites/default/files/images/home/605-black.svg" alt="" id="icon-devenir-ns">
          </div>
          <div class="px-3 mt"> <span class="option-mobile">Option 1 :
                                        <h4 class="mb-0 pt-1">Je tape #605#</h4></span></div>
        </div>
        <div class="col-12 p-3 " style=" display: flex;">
          <div>
            <img class="imgSmall imag-tp" src="/sites/default/files/images/home/orange-et-moi-black.svg" alt="" id="icon-devenir-ns-1">
          </div>
          <div class="px-3 mt"> <span class="option-mobile">Option 2 :
                                            <h4 class="mb-0 pt-1">Via l’appli Orange et Moi</h4></span></div>
        </div>
        <div class="col-12 p-3" style=" display: flex;">
          <div>
            <img class="imgSmall imag-tp" src="/sites/default/files/images/home/phone-black.svg" alt="" id="icon-devenir-ns-2">
          </div>
          <div class="mt" style="padding-left: 14px;"> <span class="option-mobile">Option 3 :
                                                <h4 class="mb-0 pt-1">Je compose le 605</h4></span></div>
        </div>

      </div>
    </div>
  </div>


  <!-- fin version mobile -->
</section>
<section class="equipement">
  <div class="d-none d-sm-none d-md-none d-lg-block">
    <div class="row ">
      <div class="col-lg-8 col-12">
        <div class="Group-11 ">
          <div class="text-style-of contentB">
            <span class="text-style-colo-1 color-orange-style">Vous voulez plus de vitesse ?</span>
            <p class="text-style-color mt-0 ">Passez à la Fibre d’Orange avec des débits qui peuvent atteindre jusqu’à <b class="col-orange"> 100 mégabits</b> à partir de <b class="col-orange"> 19.000 F / Mois</b></p>
            <div class="bt-test">
              <a class="btn btn-primary btn-off" href="#" role="button">Testez votre éligibilité</a>
            </div>
          </div>

          <img class="imgSmall Group-7" src="/sites/default/files/images/home/background-image-blanc@3x.png" alt="">
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="card om-blue">
          <div class="dsp ">
            <img class="double-fleche" src="/sites/default/files/images/home/orange-money-black.svg" alt="">
            <b class="omy">Orange Money</b>
          </div>
          <p class="fac-paye">Payer directement vos factures en ligne via Orange Money</p>
          <div class="">
            <a class="btn btn-light" href="#" role="button">Voir détails</a>

          </div>
          <img class="main-tel" src="/sites/default/files/images/home/group-52.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!--plus de vitesse version mobile-->
  <div class="d-lg-none">
    <div class=".Group-11 decouvre-tv">
      <div class="text-style-of contentB">
        <span class="text-style-colo-1 color-orange-style">Plus de vitesse ?</span>
        <p class="text-style-color mt-0 ">Passez à la Fibre d’Orange avec des débits qui peuvent atteindre jusqu’à <b class="col-orange"> 100 mégabits</b> à partir de <b class="col-orange"> 19.000 F / Mois</b></p>
        <div class="bt-test">
          <a class="btn btn-primary btn-off" href="#" role="button">Testez votre éligibilité</a>
        </div>
      </div>
      <img class="imgSmall" src="/sites/default/files/images/home/background-image-plus-de-vitesse-mobile.png" alt="">
    </div>

  </div>
  <!--fin version mobile-->
  <!--Orange-money blue version mobile-->
  <div class="om-mob-blue  d-lg-none">
    <div class="row">
      <div class="col-2">
        <img class="px-2 pt-1" src="/sites/default/files/images/home/orange-money-black.svg" alt="">
      </div>
      <div class="col-8">
        <p class="tl">Télécharger l’application
          <b class="om-tl">Orange Money</b> </p>
      </div>
      <div class="col-2">
        <img class="main-tel" src="/sites/default/files/images/home/group-52-mob.png" alt="">
      </div>

    </div>

  </div>
  <!--fin version mobile-->

</section>
