<div class="title-block">
  <B>Le déploiement de la Fibre en 4 étapes</B>
</div>

<div class="space15"></div>

<div class="row">
  <div class="col-lg-12">
    <div class="card border-0 card-deploiment">
      <div class="hide-mobile-fibre">
        <div class="row">
          <div class="col-lg-3 col-sm-3 pr-2">
            <div class="media">
              <img class="mr-3 phone-605" src="/sites/default/files/images/home-fibre/605-black.svg" >
              <div class="media-body">
                <div class="mt-0 color-orange option-dep">Option 1</div>
                <div class="font20"><B>Prise de <br>rendez-vous</B></div>
              </div>
            </div>
            <div class="card-body-dep">
              Avant installation, une prise de rendez-vous à domicile est effectuée selon vos disponibilités.
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 pr-2">
            <div class="media">
              <img class="mr-3 phone-605" src="/sites/default/files/images/home-fibre/phone-black.svg" >
              <div class="media-body">
                <div class="mt-0 color-orange option-dep">Option 2</div>
                <div class="font20"><B>Etude <br>d'installation</B></div>
              </div>
            </div>
            <div class="card-body-dep">
              Une étude sera faite sur place pour voir comment la fibre sera installée sur le lieu demandée.
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 pr-2">
            <div class="media ">
              <img class="mr-3 phone-605" src="/sites/default/files/images/home-fibre/orange-et-moi-black.svg" >
              <div class="media-body">
                <div class="mt-0 color-orange option-dep">Option 3</div>
                <div class="font20"><B>Choix <br>d'emplacement</B></div>
              </div>
            </div>
            <div class="card-body-dep">
              Le technicien choisira avec vous le meilleur emplacement pour l’installation de la fibbre
            </div>
          </div>
          <div class="col-lg-3 col-sm-3">
            <div class="media ">
              <img class="mr-3 phone-605" src="/sites/default/files/images/home-fibre/pass-voyage-black.svg" >
              <div class="media-body">
                <div class="mt-0 color-orange option-dep">Option 4</div>
                <div class="font20"><B>Installation <br>de la fibre</B></div>
              </div>
            </div>
            <div class="card-body-dep">
              Installation, configuration de la Fibre d’Orange, des services Internet, TV Téléphonies et
            </div>
          </div>
        </div>
      </div>
      <div class="hide-fibre">
        <div class="row" style="overflow: hidden">
          <div class="col-12">
            <div class="swiper-container-offre-fibre-op">
              <div class="swiper-wrapper">
                <div class="swiper-slide" id="slide1">
                  <div>
                    <div class="media">
                      <img class="mr-3 phone-605" src="/sites/default/files/images/home-fibre/605-black.svg" >
                      <div class="">
                        <div class="mt-0 color-orange option-dep">Option 1</div>
                        <div class="font20"><B>Prise de <br>rendez-vous</B></div>
                      </div>
                    </div>
                    <div class="card-body-dep">
                      Avant installation, une prise de rendez-vous à domicile est effectuée selon vos disponibilités.
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" id="slide2">
                  <div>
                    <div class="media">
                      <img class="mr-3 phone-605" src="/sites/default/files/images/home-fibre/phone-black.svg" >
                      <div class="media-body">
                        <div class="mt-0 color-orange option-dep">Option 1</div>
                        <div class="font20"><B>Etude <br>d'installation</B></div>
                      </div>
                    </div>
                    <div class="card-body-dep">
                      Une étude sera faite sur place pour voir comment la fibre sera installée sur le lieu demandée.
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" id="slide3">
                  <div>
                    <div class="media ">
                      <img class="mr-3 phone-605" src="/sites/default/files/images/home-fibre/orange-et-moi-black.svg" >
                      <div class="media-body">
                        <div class="mt-0 color-orange option-dep">Option 1</div>
                        <div class="font20"><B>Choix <br>d'emplacement</B></div>
                      </div>
                    </div>
                    <div class="card-body-dep">
                      Le technicien choisira avec vous le meilleur emplacement pour l’installation de la fibbre
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" id="slide4">
                  <div>
                    <div class="media ">
                      <img class="mr-3 phone-605" src="/sites/default/files/images/home-fibre/pass-voyage-black.svg" >
                      <div class="media-body">
                        <div class="mt-0 color-orange option-dep">Option 4</div>
                        <div class="font20"><B>Installation <br>de la fibre</B></div>
                      </div>
                    </div>
                    <div class="card-body-dep">
                      Installation, configuration de la Fibre d’Orange, des services Internet, TV Téléphonies et
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
