    <div class="modal fade Rectangle-modal" id="exampleModalCenter-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modale-widt" role="document">
            <div class="modal-content modal-con-2">
                <div class="modal-header mb-0">
                    <div class="">
                        <h3 id="exampleModalCenterTitle" class="modal-title mb-2">Page en construction</h3>
                        <span class="Valable-24h-pour-les-pup mb-1">Le contenu que vous cherchez sera disponible prochainement.</br>Merci de votre comprehension
                        </span>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                </div>

            </div>
        </div>
    </div>